<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="membership">
            <h2><span>Membership</span> {{membership.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Commencement Date</span></dt>
                <dd>
                    <span>{{membership.commencementDate}}</span>
                </dd>
                <dt><span>Fee</span></dt>
                <dd>
                    <span>{{membership.fee}}</span>
                </dd>
                <dt><span>Card</span></dt>
                <dd>
                    <div *ngIf="membership.card">
                        <a [routerLink]="['/membership-card', membership.card?.id, 'view']">{{membership.card?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/membership', membership.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
