<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-postal-address-heading">Create or edit a Postal Address</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!postalAddress.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="postalAddress.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_street">Street</label>
                    <input type="text" class="form-control" name="street" id="field_street"
                        [(ngModel)]="postalAddress.street" required/>
                    <div [hidden]="!(editForm.controls.street?.dirty && editForm.controls.street?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.street?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_houseNumber">House Number</label>
                    <input type="number" class="form-control" name="houseNumber" id="field_houseNumber"
                        [(ngModel)]="postalAddress.houseNumber" required/>
                    <div [hidden]="!(editForm.controls.houseNumber?.dirty && editForm.controls.houseNumber?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.houseNumber?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.houseNumber?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_zipCode">Zip Code</label>
                    <input type="text" class="form-control" name="zipCode" id="field_zipCode"
                        [(ngModel)]="postalAddress.zipCode" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_residence">Residence</label>
                    <input type="text" class="form-control" name="residence" id="field_residence"
                        [(ngModel)]="postalAddress.residence" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
