<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-membership-card-heading">Create or edit a Membership Card</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!membershipCard.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="membershipCard.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_membershipNumber">Membership Number</label>
                    <input type="number" class="form-control" name="membershipNumber" id="field_membershipNumber"
                        [(ngModel)]="membershipCard.membershipNumber" required/>
                    <div [hidden]="!(editForm.controls.membershipNumber?.dirty && editForm.controls.membershipNumber?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.membershipNumber?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.membershipNumber?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_commencementDate">Commencement Date</label>
                    <div class="input-group">
                        <input id="field_commencementDate" type="text" class="form-control" name="commencementDate" ngbDatepicker  #commencementDateDp="ngbDatepicker" [(ngModel)]="membershipCard.commencementDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="commencementDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="membershipCard.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_birthDate">Birth Date</label>
                    <div class="input-group">
                        <input id="field_birthDate" type="text" class="form-control" name="birthDate" ngbDatepicker  #birthDateDp="ngbDatepicker" [(ngModel)]="membershipCard.birthDate"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="birthDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.birthDate?.dirty && editForm.controls.birthDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.birthDate?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_postalAddress">Postal Address</label>
                    <select class="form-control" id="field_postalAddress" name="postalAddress" [(ngModel)]="membershipCard.postalAddress">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="postalAddressOption.id === membershipCard.postalAddress?.id ? membershipCard.postalAddress : postalAddressOption" *ngFor="let postalAddressOption of postaladdresses; trackBy: trackPostalAddressById">{{postalAddressOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
